

.section{
    width: 80%;
}

.section .aside-search{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.section .aside-search input,
.section .aside-search select{
    border: 1px solid #808080;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    color: #808080;
}
.section .aside-search select{
    padding: 10px;
}
.section .aside-search button{
    width: 100px;
    background-color: #93278F;
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
}
.row{
    margin: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(0,0,0,0.05);
    z-index: 10px;
    border: 1px solid rgb(0,0,0,0.05);
}
.row .col-md-4{
    background-image: url('../../assets/favicon.png');
}
.row .col-md-8{
    padding: 20px;
}
.row .col-md-8 .card-category{
    font-size: 16px;
    color: #808080;
    margin: 0 5px 0;
}
.row .col-md-8 .card-title{
    color: #808080;
    font-size: 30px;
}
.row .col-md-8 .card-author{
    font-size: 22px;
    color: #93278F;
}
.row .col-md-8 .card-button{
    width: 100%;
    background-color: #93278F;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    padding: 5px;
}