

.home{
    margin-top: 50px;
    width: 80%;
    margin: auto;
}
.home .col-search{
    margin: 20px 0 20px 0;
    width: 100%;
}
.home .col-search h4{
    text-align: left;
    color: #808080;
    font-size: 25px;
}
.home .col-search .col-md-4{
    display: flex;
    height: 40px;
}
.home .col-search .col-md-4 input{
    margin-right: 5px;
}
.home .col-search .col-md-4 button{
    background-color: #93278F;
    border: none;
    border-radius: 10px;
    width: 40px;
}
.home .col-search .col-md-4 .icon-search {
    font-size: 25px;
    color: #fff;
}
.home .col-info{
    width: 100%;
}
.home .col-info .col-md-8{
    width: 66%;
    background-color: #93278F;
    color: #fff;
    text-align: justify;
    border-radius: 10px;
    padding: 30px;
}
.home .col-info .col-md-8 h3{
    color: var(--white);
    text-align: left;
}
.home .col-info .col-md-4{
    padding: 0;
}
.home .col-info .col-md-4 a{
    display: block;
    background-color: #808080;
    width: 100%;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width: 780px) {
    .home .col-info{
        display: block;
    }
    .home .col-info .col-md-8,
    .home .col-info .col-md-4{
        width: 100%;
    }
    .home .col-info .col-md-4{
        margin-top: 20px;
    }
    .home .col-info .col-md-4 a{
        font-size: 16px;
        margin: 10px 0;
        cursor: pointer;
    }
    .home .col-search div{
        width: 100%;

    }
}
.row{
    box-shadow: none;
    border: none;
}